body {
	padding-top: 70px;
	padding-bottom: 30px;

	background-image: url("../img/piano-light.png");
    background-position: 75% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	font-family: "Lucida Sans", "Verdana", Sans-serif;
}

h1, h2 {
	font-family: "Forte", "Verdana", Sans-serif;
	text-transform: lowercase;
}

.anchor { /* Offset for all local links */
	position: relative;
	top: -60px;
	visibility: hidden
}

/* Navbar */
.navbar {
	min-height: 70px;
}

/* Style the large "silas hsu" */
.navbar-header {
	padding-left: 20%;
}
.navbar-brand {
	padding-top: 25px;
	padding-bottom:45px;
	font-size: 2em;
}

/* Style the navbar links */
nav a {
	color: white !important;
}
nav a:hover {
	background-color: rgb(75,75,75) !important;
}
@media (min-width: 768px) {
	.navbar-nav a {
		padding-top: 25px !important;
		padding-bottom: 25px !important;
	}
	#nav-collapse {
		padding-right: 20%;
	}
}

.navbar-toggle {
	margin-top: 20px; /* Center button vertically on navbar */
}


/* Home section */
.home {
	height: 100vh;
	padding: 20px;
	background-color: rgb(150,100,200);
}
#pianoimg {
	height: 50vh;
	margin-top: 5vh;
	margin-bottom: 10vh;
}
.home .glyphicon {
	font-size: 10vh;
}
#homelinks li {
	margin-right: 3%;
	margin-left: 3%;
}
#homelinks a {
	color: white;
}
#homelinks a:hover {
    color: rgb(150,200,255);
}

/* About section */
.about {
	background: linear-gradient(rgba(150,100,200,1), rgba(255,255,255,0));
}
.about .panel {
	background-color: transparent;
}
.about h5 {
	font-weight: bold;
}
.panel-heading {
	text-transform: lowercase;
}

/* Work section */
.carousel-button {
	padding-left: 0;
	padding-right: 0;
	width: 50%
}
.carousel-button [data-slide=next] {
	float: right;
}
#carousel-caption-col {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(150,100,200,0.8);
	color: rgb(30,30,30);
}
#carousel-caption-col h3 {
	padding-top: 0;
	color: white;
}
#carousel-caption-col small {
	color: black;
}

/* Contact section */
form {
	text-transform: lowercase;
}